{
  "users": [
    {
      "username": "你的ZJU学号",
      "password": "你的密码",
      "qq": "用于收发消息的QQ账号",
      "schedule": {
        "hour": "时", //例如8
        "minute": "分" //例如25，即早上8点25分打卡
      }
    }
  ],
  "bot": {
    "qq": "BOT账号",
    "verify_key": "BOT的verify_key",
    "port": "BOT监听端口号"
  }
}
